h1 {
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    color: navy;
}

ol {
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}

div,
p {
    text-align: center;
}

p button,
li button {
    font-size: 8px;
    margin-left: 10px;
    margin-right: 10px;
    color: red;
}

table {
    border-collapse: collapse;
  }

  td,
  th {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
  }

  th {
    font-weight: bold;
    background-color: #E6E6E6;
  }
